body {
    text-align: center;
    margin-top: 50vh;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: pink;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}